{{define "post"}}
<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ .Args.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <meta name="description" content="{{ .Args.Description }}">
</head>

<body>
	{{- template "header" }}

  <div class="post with-gutter">
    <div class="publish-date">{{ .Args.publishDate }}</div>
    <h1 class="post-title">{{ .Args.title }}</h1>

    {{ renderMarkdown .Args.markdown }}

  </div>

  {{ template "footer" -}}
</body>

</html>
{{end}}
